body{
    /* font-family: 'Rubik Vinyl', cursive; */
    font-family: 'Poppins', sans-serif;
    background-color: antiquewhite;
    margin: 0;
}
header{
    background-color: gray;
    padding: 10px 0 10px 20px;
}
.container{
    /* text-align: center; */
    width: 50%;
    background-color: pink;
    margin-top: 100px;
    margin-left: 270px;
    padding: 50px 0 100px 100px;
    border-radius: 10px;
}
.container h1{
    font-size: 40px;
    font-weight: bolder;
}
#welcome{
    color: rebeccapurple;
}
#version{
    color: blue;
}
.column-flex{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
#email , #password{
    width: 300px;
    height: 30px;
    padding: 0 0 0 10px;
    background-color: whitesmoke;
    border: 2px solid rebeccapurple;
    border-top-left-radius: 5px;
    border-bottom: none;
    border-right: none;
}
#password{
    border-top: none;
    border-radius: 0;
}
#login-btn{
    width: 150px;
    height: 31px;
    background-color: whitesmoke;
    border: 2px solid rebeccapurple;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 5px;
    color: grey;
    font-weight: 700;
}

footer{
    background-color: gray;
    margin-top: 120px;
    height: 100px;
}