body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 29px;
    height: 30px;
    background-color: whitesmoke;
    /* border: 1px solid red; */
}
nav a{
    text-decoration: none;
    color: rgb(85, 85, 85);
    padding: 2px 10px;
}
.menu{
    display: flex;
    gap: 25px;
}
.menu a:hover{
    border: 1px solid blue;
    border-radius: 5px;
    background-color: white;
    color: blue;
}
.profile{
    display: flex;
    gap: 35px;
}
#user-icon{
    color: black;
    /* border: 1px solid black; */
    border-radius: 50%;
}
#user-icon:hover{
    /* border-color: blue; */
    border: 1px solid blue;
    color: blue;
}
.search-icon{
    color: black;
}
#nav-search{
    border-radius: 20px;
}
#nav-search:hover{
    border: 1px solid blue;
}

.blogs{
    margin-top: 50px;
    margin-bottom: 150px;
}
.blog{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog-item{
    width: 45%;
    text-align: justify;
    /* border: 1px solid red;*/ /*temp margin to test */
}
.article{
    padding: 0 15px;
}
.blog-item img{
    width: 100%;
    border-radius: 15px;
    margin-top: 28px;
}

footer{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}
.box{
    width: 250px;
    display: flex;
    flex-direction: column;
}