body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    background-image: url(assets/banner0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.banner{
    text-align: center;
    padding: 50px 0;
    color: blue;
}
.banner h1{
    font-size: 60px;
}
#search-box{
    background-color: unset;
    border: 1px solid white;
    border-radius: 20px;
    height: 35px;
    width: 30%;
    color: white;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 29px;
    height: 30px;
    /* border: 1px solid red; */
}
nav a{
    text-decoration: none;
    color: black;
    padding: 2px 10px;
}
.menu{
    display: flex;
    gap: 25px;
}
.menu a:hover{
    border: 1px solid blue;
    border-radius: 5px;
    color: blue;
}
.profile{
    display: flex;
    gap: 35px;
}
#user-icon{
    color: black;
    /* border: 1px solid black; */
    border-radius: 50%;
}
#user-icon:hover{
    /* border-color: blue; */
    border: 1px solid blue;
    color: blue;
}
.search-icon{
    color: black;
}
#nav-search{
    border-radius: 20px;
}
#nav-search:hover{
    border: 1px solid blue;
}



.blogs{
    margin-top: 50px;
    margin-bottom: 150px;
}
.blog{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog-item{
    width: 45%;
    text-align: justify;
    /* border: 1px solid red;*/ /*temp margin to test */
}
.article{
    padding: 0 15px;
}
.blog-item img{
    width: 100%;
    border-radius: 15px;
    margin-top: 28px;
}

footer{
    background-color: gray;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
}
.box{
    width: 250px;
    display: flex;
    flex-direction: column;
}