body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.blogs{
    margin-top: 50px;
    margin-bottom: 150px;
}

.blog{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}
.blog-item{
    width: 45%;
    text-align: justify;
    /* border: 1px solid red;*/ /*temp margin to test */
}
.article{
    padding: 0 15px;
}
.blog-item img{
    width: 100%;
    border-radius: 15px;
    margin-top: 28px;
}